*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.section-header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.content-header {
    width: 1200px;
    display: flex;
    align-items: center;
}

.logo-header {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    flex: 1;
}

.links-header {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.list-header {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.section-hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 100px 20px;
}

.content-hero {
    width: 1200px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.text-button-hero {
    width: 50%;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 16px;
    padding: 6px 28px;
    border-radius: 8px;
    margin-top: 10px;
}

.image-hero {
    width: 50%;
    height: 300px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

.section-information {
    display: flex;
    justify-content: center;
    padding: 50px 20px 150px;
}

.content-information {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 800px;
}

.information-header-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.information-widget {
    display: flex;
    gap: 20px;
}

.information-border-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.information-border {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}